{% include './navbar.html' %}

<div class="calendar">
    <h2>{{ current_month }} {{current_year}}</h2>
    <table>
        <thead>
            <tr>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>
        </thead>
        <tbody>
            {% for week in calendar %}
                <tr>
                    {% for day in week %}
                        <td>{{ day }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
</div>
